<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AppProntuario</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>listaPacientes.jsp</welcome-file>
    <welcome-file>cadastroUsuario.jsp</welcome-file>
    <welcome-file>inicio.jsp</welcome-file>
    
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PacienteController</display-name>
    <servlet-name>PacienteController</servlet-name>
    <servlet-class>controle.PacienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteController</servlet-name>
    <url-pattern>/PacienteController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controle.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controle.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controle.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>